body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border-width: 3px solid;
  border-color: white;
  /* 
  Used width and height to change the size of each button because each image is different sizes. 
  */
  width: 120px;
  height: 120px;
  /* 
  Tip for perfectly round borders/divs is using half the size of the width or height if they are the same value
   */
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 60px;
}

.reset-score-button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}